@use '../../styles/var' as *;

.card_service{
    display: flex;
    flex-direction: column;
    background-color: $secondaryBackgroundColor;
    border: .3rem solid red;
}

.img_card{
    display: flex;
}