@use '../../styles/var' as *;

.image-ReturnTeam{
    background-image: url('../../../public/imageReturnTeam.svg');
    background-position: 50% 50%;
    background-size: cover;
    height: 1069px;

}

.text-ReturnTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.375rem 2rem;
    text-align: center;
}