@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primaryBlue: #0C294F; 
$secondaryBlue: #1B4883;
$shadowBlue: #2f5991;
$hoverBlue: #2d6dc2;

$primaryFontColor: #FFFFFF;
$secondaryFontColor: #000000;
$tertiaryFontColor: #2B2B2B;

$primaryBackgroundColor: #EDF2F4;
$secondaryBackgroundColor: #ACEDB2;
$tertiaryBackgroundColor: #FED79C;
$inputBackgroundColor: rgba(89, 144, 216, 0.45);

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;