@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primaryBlue: #0C294F; 
$secondaryBlue: #1B4883;
$shadowBlue: #5990D8;

$primaryFontColor: #FFFFFF;
$secondaryFontColor: #000000;
$tertiaryFontColor: #2B2B2B;

$primaryBackgroundColor: #EDF2F4;
$secondaryBackgroundColor: #ACEDB2;
$tertiaryBackgroundColor: #FED79C;

$font-light: 100;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;