@use '../../styles/var' as *;


.container {
    padding-top: 7vw; // Mantendo o padding-top para a navbar fixa

    .container_Itens {
        &_Section1 {
            background-image: url('../../../public/Section1Desktop.svg');
            background-position: center;
            background-repeat: repeat-x;
            height: 1069px;
            color: $primaryFontColor;

            &_Content {
                display: flex;
                flex-direction: column;
                gap: 3vw;
                margin-left: 5vw;
                width: 49vw;
                gap: 5vw;

                &_1 {
                    margin-top: 9vw;
                    display: flex;
                    flex-direction: column;
                    gap: 1vw;

                    img {
                        width: 13vw;
                    }

                    h2 {
                        font-size: 2.3vw;
                        font-weight: $font-semibold;
                    }
                }

                &_2 {
                    h1 {
                        font-size: 4.2vw;
                        font-weight: $font-bold;
                    }

                    p {
                        font-size: 3vw;
                        font-weight: $font-light;
                    }
                }


                button {
                    margin-top: 8vw;
                    background-color: $secondaryBlue;
                    border: none;
                    border-radius: 1vw;
                    color: $primaryFontColor;
                    width: 16vw;
                    height: 4vw;
                    font-weight: $font-bold;
                    font-size: 1.5vw;
                }
            }


        }

        &_Section2 {
            background-color: $tertiaryBackgroundColor;
            width: 100vw;
            height: 70vw;
            align-items: center;
            display: flex;

            &_display {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-right: 2vw;
                margin-left: 2vw;
                gap: 10vw;

                &_Content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3vw;
                    width: 35vw;

                    &_text {
                        display: flex;
                        flex-direction: column;
                        gap: 2vw;
                        color: $tertiaryFontColor;
                        text-align: center;

                        h3 {
                            font-size: 1.8vw;
                            font-weight: $font-semibold
                        }

                        p {
                            font-size: 1.5vw;
                            font-weight: $font-light;
                        }
                    }

                    button {
                        background-color: $secondaryBlue;
                        border: none;
                        border-radius: 1vw;
                        color: $primaryFontColor;
                        width: 30vw;
                        height: 4vw;
                        font-weight: $font-bold;
                        font-size: 1.5vw;
                    }
                }

                img {
                    width: 48vw;
                }

            }

        }

        &_Section3 {
            background-image: url('../../../public/Section3Desktop.svg');
            background-position: center;
            background-repeat: repeat-x;
            height: 900px;
        }
    }
}