@use '../../styles/var' as *;

.text-JoinOurTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.375rem 2rem;
    text-align: center;
}
.Team {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-top: 6vw;
            width: 40vw;
            background-color: $secondaryBlue;
            font-weight: $font-bold;
            color: $primaryFontColor;
            border: none;
            border-radius: 2.2vw;
            height: 6vw;
            font-size: 3vw;

            &:hover {
                background-color: $hoverBlue;
                box-shadow: 2px 5px 0px 0px $shadowBlue;
                transform: translateY(-2px);
                transition-duration: 0.4s;
                cursor: pointer;
            }
        }
    }

    &_Group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        label {
            display: inline-block;
            font-size: 2vw;
            font-weight: $font-regular;
            margin-bottom: 1.5vw;
        }

        &>div {
            margin-top: 3vw;
        }

        &_Address,
        &_Services {
            input {
                width: 70vw;
            }
        }

        &_Contact,
        &_Email,
        &_Phone,
        &_Eircode,
        &_Number,
        &_Complement {
            input {
                width: 32vw;
            }
        }

        input {
            background-color: $inputBackgroundColor;
            border: none;
            border-radius: 1vw;
            height: 4.0vw;
            font-size: 2vw;
            padding: 0.5vw;
            color: $secondaryFontColor;
            font-weight: $font-semibold;
        }
    }
}

@media (max-width: 768px) {
    .Team {

        &_Group {
            display: flex;
            flex-direction: row;

            label {
                font-size: 2.7vw;
            }

            &_Address,
            &_Services,
            &_Contact,
            &_Email,
            &_Phone,
            &_Eircode {
                input {
                    width: 70vw;
                }
            }

            &_Number,
            &_Complement {
                input {
                    width: 30vw;
                }
            }
        }
    }
}
