@use '../../styles/var' as *;

.Team {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin-top: 6vw;
            width: 25vw;
            background-color: $secondaryBlue;
            font-weight: $font-bold;
            color: $primaryFontColor;
            border: none;
            border-radius: 2vw;
            height: 5vw;
            font-size: 18px;
            margin-left: auto;
            margin-right: auto;
        
            &:hover {
                background-color: $hoverBlue;
                box-shadow: 2px 5px 0px 0px $shadowBlue;
                transform: translateY(-2px);
                transition-duration: 0.4s;
                cursor: pointer;
            }
        }
    }

    &_Group {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        label {
            display: inline-block;
            font-size: 20px;
            font-weight: $font-regular;
            margin-bottom: 0vw;
        }

        &>div {
            margin-top: 3vw;
        }

        &_Address,
        &_Services {
            input {
                width: 46vw;
            }
        }

        &_Contact,
        &_Email,
        &_Phone,
        &_Eircode,
        &_Number,
        &_Complement {
            input {
                width: 20vw;
            }
        }

        input {
            background-color: $inputBackgroundColor;
            border: none;
            border-radius: 1vw;
            height: 28px;
            font-size: 15px;
            padding: 0.5vw;
            color: $secondaryFontColor;
            font-weight: $font-semibold;
        }
    }
}

@media (max-width: 768px) {
    .Team {

        &_Group {
            display: flex;
            flex-direction: row;

            label {
                font-size: 2.7vw;
            }

            &_Address,
            &_Services,
            &_Contact,
            &_Email,
            &_Phone,
            &_Eircode {
                input {
                    width: 70vw;
                }
            }

            &_Number,
            &_Complement {
                input {
                    width: 30vw;
                }
            }
        }
    }
}
