// @use '../../styles/var' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #1B4883;

}

a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: aqua;
}

header{
    background-color: #1B4883;
    padding-inline: 16px;
}

nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4883;

}

.nav-list{
    background-color: #1B4883;

}

.logo{
    font-size: 7px;
    display: flex;
    align-items: center;
    background-color: #1B4883;

}

.logo img{
    padding: 0 15px 0 0;
    width: 60px;
}

img, .text-logo{
    z-index: 1;
    background-color: #1B4883;

}

ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

ul a{   
    font-size: 10px;
    color: aqua;
    padding-block: 16px;
    background-color: #1B4883;

}

// .image-de-fundo{
//     height: calc(100vh - 70px);
//     background: center / cover no-repeat url(../../../public/fundo-abstrato-desfocado.jpg);
// }

.hamburguer{
    border: none;
    background: none;
    border-top: 3px solid aqua;
    cursor: pointer;
}

@media (max-width: 820px) {

    .hamburguer::after,
    .hamburguer::before{
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: aqua;
        margin-top: 5px;
        position: relative;
        transition: 0.3s;
    }

    .hamburguer{
        z-index: 1;
    }
    
    ul a{
        color: aqua;
        font-size: 24px;
        opacity: 0;
    background-color: #1B4883;

    }

    ul li:nth-child(1) a{
        transition: 0.5s 0.2s;
        
    }


    ul li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }


    ul li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    ul li:nth-child(4) a{
        transition: 0.5s 0.6s;
    }

    ul li:nth-child(5) a{
        transition: 0.5s 0.8s;
    }

    ul li:nth-child(6) a{
        transition: 0.5s 1.0s;
    }

    ul li:nth-child(7) a{
        transition: 0.5s 1.2s;
    }

    li{
    background-color: #1B4883;
    }

    ul{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color:#1B4883;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;

      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
    }

    /* Estilos ativos */

    nav.active ul{
      clip-path: circle(1500px at 90% -15%);

    }

    nav.active ul a{
            opacity: 1;
            
    }

    nav.active .hamburguer{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    nav.active .hamburguer::before{
        transform: rotate(135deg);
        
    }

    nav.active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }


}